body{
    height: 100vh;
}
#page{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 5rem;
    background-color: rgb(24, 23, 23);
    z-index: -1;
    
    
}

main{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    width: 35rem;
    height: inherit;
    padding: 5rem;
    background-color: var(--gray-700);
}
